---
import BlogPost from "@/components/BlogPost.astro";
import Categories from "@/components/Categories.astro";
import Layout from "@/layouts/Layout.astro";
import { getLatestPost } from "@/lib/wp";

const url = new URL(Astro.request.url);
const currentPage = Number(url.searchParams.get("page")) || 1;
const perPage = 3;

const posts = await getLatestPost({ page: currentPage, perPage });

interface Post {
  title: string;
  excerpt: string;
  featuredImage: string;
  date: string;
  slug: string;
}
---

<Layout title="Noticias de Ingetec">
  <section class="about-home">
    <h2>Noticias <span class="title-blue">INGE</span>TEC</h2>
  </section>

  <section class="blog-container">
    <div class="blogs">
      {posts.map((post: Post) => <BlogPost {...post} />)}

      <div class="pagination">
        {currentPage > 1 && (
          <a href={`?page=${currentPage - 1}`} class="prev">Anterior</a>
        )}
        <span>Página {currentPage}</span>
        {posts.length === perPage && (
          <a href={`?page=${currentPage + 1}`} class="next">Siguiente</a>
        )}
      </div>
    </div>

    <Categories />
  </section>

  <!-- Paginación -->
  
</Layout>

<style>
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .pagination a {
    margin: 0 10px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
  }
  .pagination a:hover {
    background: #007bff;
    color: white;
  }
</style>
