<section class="about-container">
  <div class="about-img">
    <img src="./img/integrantes/IMG_5749.JPG" alt="Integrantes" />
  </div>

  <div class="about-text">
    <h2>Un Poco De Nosotros</h2>
    <p class="justify">
      Todo empezo cuando Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Consequuntur neque cumque vero rerum reiciendis autem!
    </p>
    <div class="about-fe hidden">
      <img src="./img/fe1.svg" alt="f1" />
      <div class="fe-text">
        <h5>Investigando a cada momento</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
          exercitationem qui tenetur!
        </p>
      </div>
    </div>
    <div class="about-fe hidden">
      <img src="./img/f2.svg" alt="f2" />
      <div class="fe-text">
        <h5>Investigando a cada momento</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
          exercitationem qui tenetur!
        </p>
      </div>
    </div>
  </div>
</section>
