<section class="about-container">
  <div class="about-img">
    <img src="./img/integrantes/IMG_5749.JPG" alt="Integrantes de INGETEC" />
  </div>

  <div class="about-text">
    <h2>Un Poco De Nosotros</h2>
    <p class="justify">
      INGETEC es el Cuerpo Académico del 
      Instituto Tecnológico Superior de Zongolica. Nos dedicamos a la investigación, 
      el desarrollo tecnológico y la innovación en el área de ingeniería y computación, 
      promoviendo el conocimiento y la formación de futuros profesionales altamente capacitados.
    </p>

    <div class="about-fe hidden">
      <img src="./img/fe1.svg" alt="Investigación" />
      <div class="fe-text">
        <h5>Compromiso con la investigación</h5>
        <p>
          Buscamos generar conocimiento a través de proyectos de investigación aplicada 
          que contribuyan al desarrollo académico y tecnológico en nuestra comunidad.
        </p>
      </div>
    </div>

    <div class="about-fe hidden">
      <img src="./img/f2.svg" alt="Innovación tecnológica" />
      <div class="fe-text">
        <h5>Innovación y desarrollo tecnológico</h5>
        <p>
          Fomentamos la implementación de soluciones tecnológicas avanzadas en 
          distintos sectores, promoviendo el uso de herramientas de vanguardia 
          como la inteligencia artificial, la nube y el desarrollo web moderno.
        </p>
      </div>
    </div>
  </div>
</section>
