<section class="trust">
  <h1>Nuestros premios</h1>
  <p>Mira todos nuestros premios que hemos ganado</p>
  <div class="trust-img">
    <img src="./img/medalla_primerLugar.png" alt="Premio 1" />
    <img src="./img/medalla_primerLugar.png" alt="Premio 1" />
    <img src="./img/medalla_primerLugar.png" alt="Premio 1" />
    <img src="./img/medalla_primerLugar.png" alt="Premio 1" />
    <img src="./img/medalla_primerLugar.png" alt="Premio 1" />
    <img src="./img/medalla_primerLugar.png" alt="Premio 1" />
  </div>
</section>
