---
import BlogPost from "@/components/BlogPost.astro";
import Categories from "@/components/Categories.astro";
import Layout from "@/layouts/Layout.astro";
import { getLatestPost } from "@/lib/wp";

const posts = await getLatestPost({ perPage: 3 });
---

<Layout title="Sobre nosotros ">
  <!-- Home -->
  <section class="about-home">
    <h2>Noticias <span class="title-blue">INGE</span>TEC</h2>
  </section>

  <!-- Noticias -->
  <section class="blog-container">
    <div class="blogs">
      {posts.map((post) => <BlogPost {...post} />)}
    </div>

    <Categories />
  </section>
</Layout>
