---
// import { getLatestPost } from "@/lib/wp"; // Asegúrate de ajustar la ruta según tu estructura de proyecto
interface Props {
  title: string;
  excerpt: string;
  featuredImage: string;
  date: string;
  slug: string;
}
const { title, excerpt, featuredImage, date, slug } = Astro.props;
---

<div >
  {
    (
      <div class="post">
        <img src={featuredImage} alt="hola" />
        <h3>{title}</h3>
        <p class="" set:html={excerpt} />
        <a href={`/post/${slug}`}>Leer más</a>
      </div>
    )
  }
</div>


