<div class="cate">
  <h2>Categorias</h2>
  <hr />
  <a href="#">Ponencias</a>
  <hr />
  <a href="#">Publicaciones</a>
  <hr />
  <a href="#">Investigación</a>
  <hr />
  <a href="#">Desarrollo</a>
  <hr />
  <a href="#">Eventos</a>
  <hr />
</div>
