---
  const year = new Date().getFullYear();

  
---

<footer>
  <div class="footer-col">
    <h3>Proyectos</h3>

    <li>Laguna Hack</li>
    <li>Integradores</li>
    <li>Integrantes</li>
    <li>Vinculación</li>
  </div>

  <div class="footer-col">
    <h3>Links</h3>

    <li>Facebook</li>
    <li>Website</li>
    <li>Twitter</li>
    <li>YouTube</li>
  </div>

  <div class="footer-col">
    <h3>Noticias</h3>

    <li>Laguna Hack 2024</li>
    <li>Convocatorias</li>
    <li>Catalogo</li>
    <li>Servicios</li>
  </div>

  <div class="footer-col">
    <h3>Premios</h3>

    <li>Laguna Hack</li>
    <li>Integradores</li>
    <li>Integrantes</li>
    <li>Vinculación</li>
  </div>
  <div class="footer-col">
    <h3>Newslater</h3>
    <p>Suscribete para estar al tanto de todo.</p>
    <div class="suscribe">
      <input type="text" placeholder="Tu dirección de correo" />
      <a href="#" class="yellow">Suscribete</a>
    </div>
  </div>

  <div class="copyright">
    <p>© {year} INGETEC Cuerpo académico - Sitio web hecho por <a href="https://jesus-puertosdev.netlify.app/" target="_blank" >Jesús Alberto Rodriguez Puertos</a></p>
    <div class="pro-links">
      <ul>
        <a href="https://www.facebook.com/profile.php?id=100083281722001" target="_blank" >
          <i class="fab fa-facebook-f"></i></a
        >

        <a href="https://twitter.com/ITSZ_Ingetec" target="_blank"> 
          <i class="fab fa-twitter" ></i></a
        >

        <a href="https://www.instagram.com/cuerpo_academico_ingetec_/" target="_blank"
          ><i class="fab fa-instagram"></i></a
        >

        <a
          href="https://www.linkedin.com/in/cuerpo-academico-ingetec-722155235/" target="_blank"
          ><i class="fab fa-linkedin-in"></i></a
        >
      </ul>
    </div>
    <div class="footer-logo">
      <img src="/img/istzlogo.png" alt="Logo ITSZ" />
    </div>
  </div>
</footer>


<style>
  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #f1c40f;
      text-decoration: underline;
    }
  }
</style>
