<!-- NavBar -->
<header>
  <nav>
    <img src="img/Ingetec-Logo-removebg.png" alt="Logo de ingetec" />
    <div class="navigation">
      <ul>
        <i id="menu-close" class="fa-regular fa-circle-xmark"></i>
        <li><a class="active" href="/">Inicio</a></li>
        <li>
          <a href="/about-us">Sobre nosotros</a>
        </li>
        <li><a href="/agenda">Agenda</a></li>
        <li><a href="/news">Noticias</a></li>
        <li><a href="/proyects">Proyectos</a></li>
        <li><a href="/contact">Contacto</a></li>
        <li class="switch">
          <i class="bx bxs-sun"></i>
          <i class="bx bxs-moon"></i>
        </li>
      </ul>
      <img id="menu-btn" src="/img/menu-2.svg" alt="Menu hamburguesa" />
    </div>
  </nav>
</header>
