<!-- Home -->
<section class="home">
  <h2>Cuerpo Académico <span class="title-blue">INGE</span>TEC</h2>
  <p class="justify">
    Generar conocimiento de calidad, por medio de las herramientas y técnicas de
    investigación básica y aplicada que contribuyan al impacto de las áreas de
    los sistemas computacionales, formación académica de recursos humanos
    especializados y altamente competitivos por medio del programa educativo de
    Ingeniería en Sistemas Computacionales, así como publicar y difundir los
    resultados de las investigaciones
  </p>
  <div class="btn">
    <a class="blue" href="#">Saber mas</a>
    <a class="yellow" href="#">Ver proyectos</a>
  </div>
</section>
