---
import { getPageInfo } from "@/lib/wp";

const { title, content } = await getPageInfo("about");
---

<!-- Home -->
<section class="home">
  <h2>Cuerpo Académico <span class="title-blue">INGE</span>TEC</h2>
  <p class="justify" set:html={content} />
  <div class="btn">
    <a class="blue" href="#">Saber mas</a>
    <a class="yellow" href="#">Ver proyectos</a>
  </div>
</section>
