---
import { getPageInfo } from "@/lib/wp";

const { title, content } = await getPageInfo("about");
---

<!-- Home -->
<section class="home">
  <h2>{title}</h2>
  <p class="" set:html={content} />
  <div class="btn">
    <a class="blue" href="/about-us">Saber mas</a>
    <a class="yellow" href="/proyects">Ver proyectos</a>
  </div>
</section>


