---
import ProyectCard from "@/components/ProyectCard.astro";
---

<!-- Proyects -->
<section class="proyects container">
  <div class="ola">
    <h1 class="proyects__title border">Producción académica</h1>
    <h1 class="proyects__title wave">Producción académica</h1>
  </div>

  <p>
    En esta sección, te invitamos a explorar la rica producción académica de
    INGETEC, nuestro destacado cuerpo académico. Aquí encontrarás una amplia
    variedad de investigaciones, publicaciones y proyectos que reflejan nuestro
    compromiso con el avance del conocimiento y la excelencia en el ámbito
    académico.
  </p>

  <div class="card__container">
    <ProyectCard />
  </div>
</section>
